:root{
    --primary-text-color: #2E2F42;
    --background-color: #ffffff;
    --background-button-color:#F4F4FD;
    --text-button-color: #4D5AE5;
    --description-text-color: #434455;
    --border-collor:#E7E9FC;
    --border-card-collor:rgba(46, 47, 66, 0.08);
    --border-card-active:rgba(46, 47, 66, 0.16);
    --order-button-hover: #404BBF;
    
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



[href]{
    text-decoration: none;
}

.list{
list-style: none;
}

a{
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
}

.advantage-list{
    display: flex;
}

.advantage-card{
    width: calc((100%-72px)/4);
    margin-right: 24px;



}
.advantage-card:last-child{
    margin-right: 0;
} 

.advantage{
    margin-bottom: 8px;
    margin-top: 8px;
}


.product-section{
padding-top:96px;

}
.what-doing{
    padding-top: 0;
}

.hero{
  
    height: 603px;
    margin-left: auto;
    margin-right: auto;


    background-image: linear-gradient(to right ,rgba( 46, 47, 66, 0.7 ),rgba( 46, 47, 66, 0.7 ))
    ,url('../images/people-office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;


    

    
   
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .box {
        background-image: url('/images/people-office\ 1@2x.jpg');
    }
}

.hero .container{
    padding: 0;
}

.our-advantages .container{
    padding-bottom: 0;
}


.product-section .container{
    padding-top: 0;
}



.container{
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;


    padding-top: 120px;
    padding-bottom: 120px;

}



.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;


    background: rgba(46, 47, 66, 0.4);

}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(0.9);

}



.modal{


    min-width: 408px;
    min-height: 576px;
    position: absolute;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FCFCFC;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.close-button{
    display: flex;
    width: 24px;
    height: 24px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: auto;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: none;
    cursor: pointer;


    align-items: center;
    justify-content:center;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.cancel{
    width: 8px;
    height: 8px;
    fill:#000000

}

.icon{
    display: flex;
    background-color: var(--background-button-color);
    border-radius: 4px;
    height: 112px;
    align-items: center; 
    justify-content: center;

}

.icon-image{
width: 64px;
height: 64px;
}

.icon-style{
    display: flex;
    width: calc((100% - 72px)/4);
}

.icon-social{

     height: 40px;
     width: 40px;
     background-color: var(--text-button-color);
     border-radius: 50%;

     display: flex;
     justify-content: center; 
     align-items: center; 

   
 }

 .icon-list{
    margin-right: 24px;
 }
 
.icon-list:nth-child(4) {
    margin-right: 0; 
}


ul{
    list-style-type: none;
}



body {
 color: var(--primary-text-color);
 background-color: var(--background-color);
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}



.image {
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}




.overlay-text {

    color:var(--background-button-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    padding: 40px 32px 164px;

    background-color: var(--text-button-color);
    /* width: 360px; */
    height: 300px;
    width: 100%;

     transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover .overlay-text {
    transform: translateY(0);
}



/* Стилізація хедеру */ 
.logo{
    color: var(--text-button-color);
   


    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.33;
    text-transform: uppercase;

    display: flex;
    align-items: center;


}

.logo-studio{
    color: var(--primary-text-color);


    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.33;
    text-transform: uppercase;

    display: block;
}

.nav-link{
    color: var(--primary-text-color);


    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;


    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link{
    position: relative;

}

.nav-link.portfolio::after {
    display: block;
    content: '';
    border-radius: 2px;
    background-color: var(--text-button-color);
    height: 4px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link.main-page::after {
    display: block;
    content: '';
    border-radius: 2px;
    background-color: var(--text-button-color);
    height: 4px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

.contact{
    display: flex;
    margin-left: auto;


}



.contact-list:not(:last-child){
    margin-right: 40px;

}

.header{
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px var(--border-card-collor), 0px 1px 1px var(--border-card-active), 0px 1px 6px var(--border-card-collor);
}

.nav{
    display: flex;
    text-align: center;
    margin-left: 77px;
    
}

.nav-list:not(:last-child){
    margin-right: 40px;

}

.navigation {
    display: flex;
}

.header .container{
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--text-button-color);

    cursor: pointer;

}

.contact-link{
    color: var(--description-text-color);
    display: block;

    padding-bottom: 24px;
    padding-top: 24px;


    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-link:hover,
.contact-link:focus{
    color: var(--text-button-color);


    line-height: 1.5;
    letter-spacing: 0.02em;

}


/* Стилізація фільтру */

.products{
    display: none;
}

.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-button{
    background-color: var(--background-button-color);
    border: 1px solid var(--border-collor);
    color: var(--text-button-color);
    border-radius: 4px;


    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    min-width: 78px;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-type:not(:first-child){
        margin-left: 24px;
}



.filter-button:hover,
.filter-button:focus{
    background-color: var(--text-button-color);
    color: var(--background-button-color);
    border: 1px solid transparent;

    cursor: pointer;


    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    min-width: 78px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);


    
}


.active-button{
    background-color: var(--text-button-color);
    color: var(--background-button-color);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;


    font-weight: 700;  
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    min-width: 78px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.order-button{
  
    background-color: var(--text-button-color);
    color: var(--background-color);
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.04em;
    
    padding: 16px 32px;



    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.order-button:hover,
.order-button:focus{
   
    color: var(--background-color);
    background-color: var(--order-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.04em;

    cursor: pointer;

   
    
}

/* Стилізація карточок */
.topics,
.advantage,
.member{
    color: var(--primary-text-color); 


    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.name-hidden{
    visibility: hidden;
    display: none;
}
.name-section{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
   

    
}

.portfolio{
    color: var(--text-button-color);


    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;

    cursor: pointer;

}

.main-page{
    color: var(--text-button-color);


    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;

    cursor: pointer;
 
}

.topics{
    padding-bottom: 8px;
}

.product-description,
.advantage-descrip,
.member-work{
    color: var(--description-text-color);


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.member,
.member-work{
    text-align: center;
    vertical-align: middle;
}

.member-work{
    margin-top: 8px;
    margin-bottom: 12px;
}
.description-text{

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.hero
{
    background-color: var(--primary-text-color);


}

.hero-section .start-button{
    text-align: center;
}


.footer{
    
            background-color: var(--primary-text-color);
    
    
    
}


.company{
    display: flex;
}

.company-list{
    display: flex; 
    width: calc((100% - 120px)/6);
    height: 88px;
    margin-right: 24px;
    
}
.company-list:last-child{
    margin-right: 0;
}

.company-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
 
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.company-link:hover,
.company-link:focus{
    fill: var(--text-button-color);
    cursor: pointer;
    border: 1px solid var(--text-button-color);

}







.footer .logo{
    align-items: center;
    padding-bottom: 16px;
}

.footer .logo-studio{
    color: var(--background-button-color);


    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text{
    color: var(--border-collor);


    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    width: 264px;
    display: flex;

}



.footer > .container{
display: flex;
}

.social-text-footer{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 700px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
    
    display: block;
    padding-bottom: 16px;
}

.footer-list-text{
    margin-right: 16px;
}

.footer-list-text:last-child{
margin-right: 0;
}

.footer-main-text{
    margin-right: 160px;
}


.social-footer .icon-social{
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer .icon-social:hover,
.footer .icon-social:focus{
    background-color: #31D0AA;
    cursor: pointer;


}




.team-list{
   
    display: flex
}

.team-card{
    width: calc((100% - 3 * 24px)/4);
    align-items: center;
    margin-right: 24px;
    height: 436px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;



}

.team-card:last-child{
    margin-right: 0;
}


.hero-name{
    color: var(--background-color);


    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    text-align: center;
}

.team {
    background-color: var(--background-button-color);
}






.doing-card{
    display: flex;
}

.doing-image{
    margin-left: 24px;
}
.doing-image:first-child{
    margin-left: 0;
}

.team-card,
.product-card{
    background-color: var(--background-color);
    
}

.product{
    display: flex;
    flex-wrap: wrap;

}

.product-card{
    width: 360px;
    margin-right: 24px; 
    margin-bottom: 48px;
    border: 0.5px solid var(--background-button-color);
    box-shadow: 0px 1px 6px var(--border-card-collor);
    margin-right: auto;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}

.product-card:hover,
.product-card:focus{
    box-shadow: 0px 1px 6px var(--border-card-collor), 0px 1px 1px var(--border-card-active), 0px 2px 1px var(--border-card-collor) ;

}



.product-card:nth-child(3n){
    margin-right: 0;
}

.product-card:nth-last-child(-n+3){
    margin-bottom: 0;

}

.form{
margin-right: auto;
margin-left: auto;

}

.hero input,
.hero textarea{
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
}





.form-field{
 display: flex;
 flex-direction: column;
 padding-left: 24px;
 padding-right: 24px;
 margin-bottom: 8px;

}

.text-input{
    padding-top: 8px;
    padding-left: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    font-weight: 400;

    min-height: 120px;
}

.text-input::placeholder {

    

    padding-top: 0;
    padding-left: 0;


    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}



.form label{
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;

        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        line-height: 1.167;
    
        letter-spacing: 0.01em;
        
        color: #8E8F99;
}


.form label:last-child{
    margin-bottom: 0;
}


.form .cta{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    margin: 24px 24px 16px;
}



.button-form {
    padding: 16px 32px;
    margin-top: 24px;
    margin-bottom: 24px;
    min-width: 170px;
    min-height: 51px;

    cursor: pointer;
    background-color: var(--text-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;

    color: var(--background-color);

    
    border: solid 1px transparent;
}

.button-submit{
    text-align: center;
  
}

.form-field.checkbox{
    display: flex;
    flex-direction: row;
    color: #757575;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.04em;
    margin-bottom: 0;
    align-items: center;
}



.link-privacy{
    color: var(--text-button-color);
    height: 16px;
    text-decoration: underline;
} 

.link-privacy:hover{
    text-decoration: none;
}


.checkbox .inpute-checkbox{
   width: 1px;
   height: 1px;
   margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}



.icon-check{
    
    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: inline-block;

    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}
.privacy-text{
    display: inline-block;
}

.checkbox .privacy{
    display: flex;
    align-items: center;
}


.inpute-checkbox:checked + .icon-check {

    background-color: var(--text-button-color);
    background-image: url('/images/Checkbox.svg');
    background-origin: border-box;
    border: 1.25px solid var(--text-button-color);

}

.modal input{
    background-color: transparent;
}





.footer-form{
        margin-left: 80px;

        
        
        
}

.sub-button{
        padding: 8px 24px;
        min-width: 168px;
        min-height: 40px;
        cursor: pointer;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.06em;
    
        color: var(--background-color);
        background: var(--text-button-color);
        border-radius: 4px;

        border: 1px solid transparent;
        display: flex;
        justify-content: center;
            align-items: center;
}

.sub-input{
    margin-right: 24px;
    min-height: 40px;
    min-width: 264px;
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}


.sub-input::placeholder{
   
    background-color: transparent;

}

.sub-input:focus-visible{
    border: 1px solid var(--text-button-color);
}

input:focus-visible{
    outline: none;
}

textarea:focus-visible{
    outline: none;
}

.text-input:focus{
border: 1px solid #4D5AE5;
}


.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
}



.sub-input {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.send-icon{
  margin-left: 16px;
}

.form-data{
    position: relative;

    
}

textarea{
    background-color: transparent;
}
.form-image{
    position: absolute;

    width: 20px;
    height: 20px;
    left: 16px;
    top: 50%;

    z-index: 1;

    transform: translateY(-50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-input-data:focus +.form-image{
    fill: var(--text-button-color);
}
.form-input-data:focus{
    border:1px solid #4D5AE5
}
.form-input-data{
    width: 100%;
    height: 40px;
    padding-left: 34px;
    padding-top: 11px;
    padding-bottom: 11px;
    z-index: 2;



    font-size: 12px;
    line-height: 1.16;
    
    letter-spacing: 0.01em;
    


}





.mobile-header{
    display: flex;
    
}

/* MOBILE PHONE */

 @media screen and (max-width:767px) {
    .container{
    width: 428px;
    padding: 0;
    }
    
    .section{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 96px;
        padding-bottom: 96px;

    }

    .modal{
        min-width: 392px;
        min-height: 579px;
    }

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

   .nav .nav-list{
        margin-right: 0;
    }

    .mobile-header{
        padding-left: 40px;

        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0%;

    }

  

    .mobile-header .icon-style{
        padding-bottom: 40px;
        padding-top: 28px;

        justify-content: flex-start;
        

       
    }

    .mobile-header .icon-list:last-child{
        margin-right: 0;
    }

    .mobile-header  .icon-list{
        margin-right: 56px;
    }
 

    .contact{
        display: none;
    }


    
    .contact-link-mobile.active-phone{
        font-size: 36px;
        line-height: 1.11;
        display: block;
        padding-top: 20px;
            
            
        text-transform: capitalize;
        color: var(--text-button-color);
    }

    .contact-link-mobile{
        font-size: 20px;
        line-height: 1.2;
        
        letter-spacing: 0.02em;
        
        padding-top: 20px;
        padding-bottom: 20px;
        
        
        color:var(--description-text-color);
    }



    .mobile-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .burger {
        width: 32px;

    }

   

    .menu-button{
        background-color: transparent;
        border: 1px solid transparent;
        padding: 2px;
        z-index: 1000;

   

        display: flex;
        justify-content: center;
        align-items: center;

     
        
    }


    .menu-button[aria-expanded=true] .icon-cross {
        display: block;
        

    }
    .menu-button[aria-expanded=true] {
          
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: var(--border-collor);
                

                display: flex;
                width: 24px;
                height: 24px;

                border-radius: 50%;                    
                cursor: pointer;
                    
                    
                align-items: center;
                justify-content: center;
                
            }
   .menu-button[aria-expanded=true] .burger{
        width: 8px;
    }
    .menu-button[aria-expanded=false] .burger {
        width: 32px;
    }
    
         

   .menu-button[aria-expanded=true] .icon-burger {
        display: none;
    }

    .menu-button[aria-expanded=false] .icon-burger {
        display: block;
    }
    .menu-button[aria-expanded=false] .icon-cross {
         display: none;
    }

    .header {
       padding: 24px 16px;
       width: 100%;
    }

    .mobile-header.is-open{
        display: block;
    }

    .mobile-header{
        display: none;
    }

  

    .nav-link.portfolio::after{
        display: none;
    }

    .nav-link.main-page::after {
         display: none;
     }

    .nav-link{
            text-align: start;
    
            font-weight: 600;
            font-size: 36px;
            line-height: 1.11;

        
            letter-spacing: 0.02em;
            text-transform: capitalize;

            padding-bottom: 20px;
            padding-top: 20px;
    }
    
    .nav-list:first-child{
        margin-top: 60px;
    }



    .nav{
        margin-bottom: 284px;
    }

    .contact-page{
        display: block;
    }




    .header .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .hero{
        width: 100%;
        height: 100%;
    }

    .hero-section{
        padding: 0;
    }

  

    .hero-name{
    margin-bottom: 80px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
        
    text-align: center;
    letter-spacing: 0.02em;
    }

    .icon{
        display: none;
    }

    .advantage-list{
        display: flex;
        flex-wrap: wrap;
       

    }


    .advantage {
        margin-bottom: 8px;

        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        
    }

    .advantage{
        margin-top: 0;
        text-align: center;
    }
    
    .advantage-card{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
    }

    .advantage-card:last-child{
        margin-bottom: 0;
    }


    .advantage-descrip{
        display: block;
   
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;

        
        letter-spacing: 0.02em;
    }



    .what-doing{
        display: none;
    }

    .team-list{
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-card{
        width: 260px; 
        margin-bottom: 72px;
        margin-right: 0;
    }
    
    .team-card:last-child{
        margin-bottom: 0;
    }


    .icon-style{
        width: 100%;
    }
   
    .company{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
    }

    
    .company-list{
     
        flex-basis: calc((100% - 16px)/2);
        margin-right: 16px;
    }

    .company-list{
        margin-bottom: 72px;
    }

    .company-list:nth-last-child(2){
        margin-bottom: 0;
    }
    .company-list:nth-last-child(2){
        margin-bottom: 0;
    }

    .company-list:last-child {
        margin-bottom: 0;
    }

    .company-list:nth-child(2n){
        margin-right: 0;
    }



    .footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
       
    }

    .footer .logo{
        justify-content: center;
    }
    

    .footer-main-text{
        margin-right: 0;
    }

    .footer-form{
        margin: 0;
    }

    .footer-element{
        width: 100%;      
    }

    .footer-text{
        display: inline-block;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        
    }

    .input-button{
        display: flex;
        flex-direction: column;
    }

    .sub-input{
        margin-bottom: 16px;
        margin-right: 0;
        width: 100%;
    }

    .footer-element:not(:last-child){
        margin-bottom: 72px;
    }

    .icon-style{
        justify-content: center;
    }


    .social-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    

    }

    .social-text-footer{
        text-align: center;
    }





    .name-section{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }




/* Portfolio */

.filter{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: unset;
    max-width: 360px;

}




.filter-type{
    margin-bottom: 16px;
}

.filter-type:first-child{
    margin-left: 0;
}

.filter-type:nth-last-child(2){
    margin-bottom: 0;
    margin-left: 0;
}
.filter-type:last-child{
    margin-bottom: 0;
}







.product-card:not(:last-child){
    margin-bottom: 48px;
}


.product {
    justify-content: center;

}

.product-card {
    margin-right: 0;
}

 }




/* TABLET */

@media screen and (min-width:768px) and (max-width:1199px) {

.container {
        width: 768px;
        padding: 0;
    }

    .section{
        
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer{
        padding-left: 108px;
        padding-right: 108px;
        
    }


    .modal {
        min-width: 408px;
        min-height: 579px;
    }

    
    .header{
    
    padding-left: 16px;
    padding-right: 16px;
    
    }

  body .header .container {
     
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .nav{
        margin-left: 0;
        
    }

    .navigation{
        margin-left: 124px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
      
    }

    .contact .contact-list{
        margin-right: 0;
    }

    .contact-list:last-child {
             margin-bottom: 0px;
         }

    .contact-link{
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .header .container {
        display: flex;
        flex-wrap: wrap;
    }




    .contact-page.mobile{
        display: none;
    }

    .menu-button{
        display: none;
    }

    .hero {
        width: 100%;
        height: 435px;
    }

    .hero-section {
        padding: 0;
    }


    .hero-name {
        margin-bottom: 80px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;

        text-align: center;
        letter-spacing: 0.02em;
    }

    .icon {
        display: none;
    }

    .advantage-list {
        display: flex;
        flex-wrap: wrap;


    }


    .advantage {
        margin-bottom: 8px;
        margin-top: 0;
    }


    .advantage-card {
        flex-basis: calc((100% - 24px)/2);
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .advantage-card:nth-child(2n){
        margin-right: 0;
    }


    .what-doing {
        display: none;
    }


    .team.section{
        margin-left: auto;
        margin-right: auto;
    }

    .team .container{
        width: 768px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-card {
        flex-basis: 264px;
        margin-bottom: 56px;
        margin-right: 24px;
    

    }

    .team-card:nth-child(2n) {
        margin-right: 0;
        
    }

    .team-card:nth-last-child(-n+2){
        margin-bottom: 0;
    }

  


    .image-work{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .icon-style {
        width: 100%;
        justify-content: center;
    }



    .cusotmers.section{
        padding-right: 108px;
        padding-left: 108px;
        
    }

    .cusotmers .container{
        width: 100%;
    }


    .company {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

    }


    .company-list {
        width: calc((100% - 48px)/3);
        margin-right: 24px;
    }

    .company-list {
        margin-bottom: 72px;
    }

  .company-list:nth-child(3n){
    margin-right: 0;
  }

   .company-list:nth-child(n+4) {
       margin-bottom: 0;
   }

    .footer-form {
    margin-top: 72px;
    margin-left: 0;
   

    }


    .footer .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    }

    .social-footer{
       padding-right: 20px; 
    }

    .footer-main-text{
        margin-right: 24px;
    }



  
    /* Portfolio */

    .filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }


  .product{
   justify-content: flex-start;
  }

    .product-card:not(:last-child) {
        margin-bottom: 48px;
        margin-right: 24px;
    }

    .product-card:nth-child(2n){
        margin-right: 0;
    }



}


@media screen and (min-width:1200px) {

    .header{
        padding-left: 156px;
        padding-right: 156px;
        width: 100%;
    }

    .container {
            width: 1200px;
            margin: 0 auto;
            padding: 0;
        }


    .section{

            padding-left: 16px;
            padding-right: 16px;
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .footer.section{
            width: 100%;

        }

    .hero.section{
        padding-top: 196px;
        padding-bottom: 196px;
    }

    body .header .container {
    
            flex-wrap: nowrap;
    
    
        }
    
        .nav {
            margin-left: 0;
        }
    
        .navigation {
            margin-left: 124px;
        }
    
        .contact {
            display: flex;
            margin-left: auto; 
            justify-content: center;
            align-items: center;
        }
    
        .contact .contact-list:not(:last-child) {
            margin-right: 40px;
        }
    
        .contact-list:last-child {
            margin-bottom: 0px;
        }
    
    
    
        .header .container {
            display: flex;
            flex-wrap: wrap;
        }
    
    
    
    
        .contact-page.mobile {
            display: none;
        }
    
        .menu-button {
            display: none;
        }

        .doing-card{
            justify-content: center;
        }

        .team-list{
            justify-content: center;
        }

        .team-card{
          width: inherit;
        }


        .footer-main-text{
            margin-right: 0;
        }

        .footer-form{
            margin-left: 0;
        }

        .social-footer{
            
            padding-right: 80px;
            padding-left: 120px;
        }
    }

