:root{
    --primary-text-color: #2E2F42;
    --background-color: #ffffff;
    --background-button-color:#F4F4FD;
    --text-button-color: #4D5AE5;
    --description-text-color: #434455;
    --border-collor:#E7E9FC;
}
*{
    text-decoration: none;
}

.list{
list-style: none;
}

body {
 color: var(--primary-text-color);
 background-color: var(--background-color);
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}


/* Стилізація хедеру */ 
.logo{
    color: var(--text-button-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.33;
    text-transform: uppercase;

}

.logo-studio{
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.33;
}

.nav-link{
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--text-button-color);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link{
    color: var(--description-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.contact-link:hover,
.contact-link:focus{
    color: var(--text-button-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Стилізація фільтру */

.products{
    display: none;
}
.filter-button{
    background-color: var(--background-button-color);
    color: var(--text-button-color);
    font-weight: 700;
    border: 1px solid var(--border-collor);
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus{
    background-color: var(--text-button-color);
    color: var(--background-button-color);
    cursor: pointer;
    font-weight: 700;
    border: 1px solid var(--border-collor);
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.active-button{
    background-color: var(--text-button-color);
    color: var(--background-button-color);
    cursor: pointer;
    font-weight: 700;
    border: 1px solid var(--border-collor);
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.order-button{
    background-color: var(--text-button-color);
    color: var(--background-color);
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.04em;
    border-radius: 4px;

}

.order-button:hover,
.order-button:focus{
    background-color: var(--background-button-color);
    color: var(--text-button-color);
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.04em;
    border-radius: 4px;
}

/* Стилізація карточок */
.topics,
.advantage,
.member{
    color: var(--primary-text-color); 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.name-section{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.product-description,
.advantage-descrip,
.member-work{
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.hero,
.footer{
    background-color: var(--primary-text-color);
}
.footer{
    background-color: var(--primary-text-color);
}
.footer .logo-studio{
    color: var(--background-button-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
}
.footer-text{
    color: var(--border-collor);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




.hero-name{
    color: var(--background-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.team{
    background-color: var(--background-button-color);
}

.team-card{
    background-color: var(--background-color);
}
